*{
 font-family: Arial, Helvetica, sans-serif;
 background-color:#f6f6f6;
}

header { 
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow:2px 2px 5px grey;
}
.logo{
    height: 100px;
    margin-right: 20px;
}

.header_desc {
    
    padding: 10px;
    height: fit-content;
    align-self: center;
    color: white;
    background-color:#E01919;
    margin-right: 10px;
    border-radius: 4px;
    text-decoration: none;
}

.header_search{
    padding: 10px;
    height: 20px;;
    align-self: center;
    color: white;
}

.rightside {
    margin-left: auto;
}

.header_desc:hover{
    background-color:#c40000;
    text-decoration: underline;
    cursor: pointer;
}
.events {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
  }
  
.events_dynamic {
    background-color: white;
    padding: 15px;
    flex-grow: 1;
  }
  
  .events_static {
    flex: 0 0 100px;
    padding: 15px;
    border: solid 1px lightgray;
    background-color: #f8f8f8;
  }
  
  .jobs {
    display: flex;
    flex-direction: row;
    padding: 10px 5px;
    }
      
 .jobs_dynamic {
    background-color: white;
    padding: 15px;
    flex-grow: 1;
    }
      
 .jobs_static {
    flex: 0 0 200px;
    padding: 15px;
    border: solid 1px lightgray;
    background-color: #f8f8f8;
 }

 .apply_button {
    padding: 5px;
    height: fit-content;
    align-self: center;
    border: none;
    color: white;
    background-color:#E01919;
    margin-left: 10px;
    border-radius: 4px;
    text-decoration: none;
 }
 
 .apply_button:hover {
    background-color:#c40000;
    text-decoration: underline;
    cursor: pointer;
 }

 .footer { 
    display: flex;
    height: 50px;
    flex-direction: row;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    box-shadow:2px 2px 5px grey;
 }

 .footer {
     background-color: white;
     display: flex;
     flex-direction: row;
 }
 .bold {
     font-weight: bold;
     background-color: white;
 }

 .bottom_logo {
     margin-left: 5px;
     margin-right: 50px;
     }

.socialblock{
    display: flex;
    flex-direction: row;
    align-self: center;
    height: 30px;
    background-color: white;
}

.contacts {
    border-radius: 50%;
    background-color: white;
    align-items: center;
    height: 40px;
    padding-left: 2px;
    margin-left: 10px;
    margin-right: 10px;
}