*{
    font-family: "Times New Roman", Times, serif;
    font: size 15px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

.group .column{
    display: inline-block;
    float: left;
    width: 25%;
    padding: 25px;
}

.group {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    background: linear-gradient(to right,
    #eeeeee 25%,
    #cccccc 25%,
    #cccccc 50%,
    #eeeeee 50%,
    #eeeeee 75%,
    #cccccc 75%,
    #cccccc 100%);   
}
 .reference{
    display: block;
    position: relative;
    top:40px; left: 15px;
}