header, footer {
    background-color:lightskyblue;
}
header {
    text-align: right;
}
footer {
    text-align: left;
}
header button, footer button{
    color: white;
    background-color: rgb(140, 140, 255)
    padding: 15px;
}